{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 71,
          "electron": "current",
          "node": "current"
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
