{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": 71,
          "electron": 2,
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
