{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "plugins": ["react", "flowtype"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },    
  "rules": {
    "strict": 2,
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "quotes": [2, "single", "avoid-escape"],
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "react/jsx-uses-react": ["error"],
    "react/jsx-uses-vars": ["error"]
  },
  "globals": {
    // Following are symbols from testing libraries
    "describe": false,
    "it": false,
    "expect": false,
    "jest": false,
    "afterAll": false,
    "afterEach": false,
    "beforeEach": false,
    "beforeAll": false,
    // Following are MM2's symbols
    "Module": false,
    "Log": false
  }  
}
